<div class="header">
    <h1 class="header-design">
      Training Management System
    </h1>
    <h3 class="sub-header">WorldSolution Private Limited</h3>
  </div>

<div style="background-color: rgb(228, 228, 227);width:100vw;height:100vh;padding:0%; background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)00), url(../../assets/img/training.jpg);
background-size: cover;
background-position: center;
height: 100vh;
background-attachment: fixed;
">
    
<div class="align-center">

    <div class="log-in ">
        <h1 class="login-style">LOGIN</h1>
        
        <input class="input-style" type="email" [(ngModel)]="email" placeholder="Enter Email">
        <br>
        <input class="input-style" type="password" [(ngModel)]="password" placeholder="Enter Password">
        <br>
        <button (click)="onLogin()"class="button-style-basic" >
            <b>LOGIN</b>
        </button>
        <br>
        <h4>
            <a class="link-style" href="#">forget password</a>
        </h4>
    </div>
</div>
</div>