<div *ngIf="isNotAdmin" class="row">
    <div routerLink="/home/trainer" class="col-md-3">
      <div class="info info-orange">
        <div class="header">Trainers</div>
        <span>10</span>
        
      </div>
    </div>
  
    <div routerLink="/home/technology" class="col-md-3">
      <div class="info info-green">
        <div class="header">Technology</div>
        <span>5</span>
        
      </div>
    </div>
  
  
    <div routerLink="/home/history" class="col-md-3">
      <div class="info info-brown">
        <div class="header">Rejected Request</div>
        <span>15</span>
       
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="info info-blue">
        <div class="header">Pending Request</div>
        <span>20</span>
        
      </div>
    </div>
  </div>